/*NAV */
body {
  position: relative;
  min-height: 100vh;
}

h4 {
  color: white;
}

.navbar-brand {
  background-color: #69c8ec99;
  padding: 9px;
}

nav {
  background-color: #526e2d99;
}

a {
  color: white;
}

.navbar {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/*CARDS */

.first {
  background-image: url("password.png");
}

.second {
  background-image: url("boardgames.jpeg");
}

.third {
  background-image: url("sports.jpg");
}

.fourth {
  background-image: url("camping.jpg");
}

.fifth {
  background-image: url("hiking.jpg");
}

.card {
  background-size: cover;
  height: 200px;
}

.card a {
  position: absolute;
  bottom: 5%;
  width: 100%;
}

.btn {
  background-color: #69c8ec99;
}

main {
  background-color: white;
}
.container {
  background-color: #b7e4f999;
  padding-top: 16px;
  margin: 1.5%;
}

.footer {
  position: absolute;
  bottom: 0px;
  text-align: center;
  background-color: #526e2d99;
  width: 100%;
  height: 9%;
  border-top-color: #69c8ec99;
  border-top-width: 10px;
  border-top-style: solid;
}
.footer p {
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
